.btn-success {
    border-radius: 20px !important;
}

.btn-outline-success {
    border-radius: 20px !important;
}

.circle {
    width: 100px;
    height: 100px;
    border: 10px solid #008F76;
    border-radius: 50%;
}

.card {
    box-shadow: 5px 5px 5px 0 gray;
    border: 2px solid white;
}